.nav-link {
    position: relative;
    display: inline-block;
    color: #888888;
    text-decoration: none;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
    color: #ffffff;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -50%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0) ;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px 2px rgb(201, 146, 57)
}

.nav-link.active::before {
    transform: scaleX(1);
}

.nav-link:hover::before {
    transform: scaleX(1);
}
