@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #cecece;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
:root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

:root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}
.hide-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
